:root {
  --Iris: #4d5ae5;
  --Ocean: #404bbf;
  --Navy-Blue: #2e2f42;
  --Slate: #434455;
  --White: #fff;
  --Cloud: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--Slate);
  background-color: var(--White);
}

h1,
h2,
h3,
p,
ul
 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container,
.footer-container {
  display: flex;
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.nav {
  display: inline-block;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--Iris);
  text-decoration: none;
}
.header-logo:hover,
.header-logo:focus {
  color: var(--Ocean);
}
.header-logo:active {
  text-decoration: underline;
}
.header-logo .accent {
  color: var(--Navy-Blue);
}
.header-list,
.contacts-list,
.team-list,
.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}
.benefits-list{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.benefits-list,
.team-list,
.portfolio-list {
  row-gap: 48px;
}

.team-command .one,
.portfolio-list-one {
  width: calc((100% - 48px) / 3);
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Navy-Blue);
  text-decoration: none;
}
.header-link:hover,
.contacts-link:hover {
  color: var(--Ocean);
}
.header-link:focus,
.contacts-link:focus {
  color: var(--Ocean);
}
.contacts {
  font-style: normal;
}
.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Slate);
  text-decoration: none;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--Ocean);
}

.main-screen {
  background-color: var(--Navy-Blue);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  height: 600px;
}
.main-screen-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--White);
  padding-top: 188px;
  margin: auto 15px;
  padding-bottom: 48px;
}
.main-screen-btn {
  background: var(--Iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--White);
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}
.main-screen-btn:hover,
.main-screen-btn:focus {
  color: var(--White);
  background: var(--Ocean);
}

.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--Navy-Blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}
.benefit-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--Navy-Blue);
}

.benefit-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-section {
  background-color: var(--Cloud);
}
.team-name,
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--Navy-Blue);
  text-transform: capitalize;
}
.team-command {
  background-color: var(--White);
}
.team-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Slate);
}
.portfolio-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Slate);
}
.footer {
  background: var(--Navy-Blue);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--Iris);
  text-decoration: none;
}

.footer-logo:active {
  text-decoration: underline;
}
.footer-logo:hover,
.footer-logo:focus {
  color: var(--Ocean);
}
.footer-logo .accent {
  color: var(--Cloud);
}
.footer-descr {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--Cloud);
}
