body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #434455;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}
.header-logo:hover,
.header-logo:focus {
  color: #404bbf;
}
.header-logo:active {
  text-decoration: underline;
  border-bottom: 10px, solid, #404bbf;
}
.header-logo .accent {
  color: #4d5ae5;
}
.header-list,
.contacts-list,
.benefits-list,
.team-list,
.portfolio-list {
  list-style-type: none;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.header-link:hover,
.contacts-link:hover {
  color: #4d5ae5;
}
.header-link:focus .contacts-link:focus {
  color: #404bbf;
}
.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5%;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.main-screen {
  background-color: #2e2f42;
}
.main-screen-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.main-screen-btn {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5%;
  color: #fff;
  cursor: pointer;
}
.main-screen-btn:hover,
.main-screen-btn:focus {
  color: #fff;
  background: #404bbf;
}

.benefits-title,
.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.benefit-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefit-descr {
  font-size: 16px;
  line-height: 1.5%;
  letter-spacing: 0.02em;
}
.team-name,
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-descr {
  font-size: 16px;
  line-height: 1.5%;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
}

.footer-logo:active {
  text-decoration: underline;
  border-bottom: 10px, solid, #404bbf;
}
.footer-logo:hover,
.footer-logo:focus {
  color: #404bbf;
}
.footer-logo .accent {
  color: #4d5ae5;
}
.footer-descr {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
